name: Integration Tests

on:
  push:
    branches:
      - master
      - staging
  workflow_dispatch: {}
  pull_request: {}

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    strategy:
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Set up Dependencies
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Install the reliability_tests from the repo
        working-directory: ${{github.workspace}}
        run: |
          pip3 install .[test]
          pip3 install --no-deps ir_datasets
      - name: Run integration tests
        working-directory: ${{github.workspace}}/
        run: |
          python3 -m pytest integration-tests
