name: Integration Tests

on:
  push:
    branches:
      - master
      - staging
  workflow_dispatch: {}
  pull_request: {}

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    strategy:
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Set up Dependencies
        uses: actions/setup-python@v4
      - name: Install the reliability_tests from the repo
        working-directory: ${{github.workspace}}
        run: |
          pip3 install .[test]
          pip3 install --no-deps ir_datasets
      - name: Prepare Integration Tests
        working-directory: ${{github.workspace}}/
        run: |
          python3 -m pytest integration-tests
      - name: Test Naive Judge
        run: |
          tira-cli code-submission --dry-run --path trec25/judges/naive/ --task trec-auto-judge --dataset spot-check-dataset-20251202-training --command '/naive-baseline.py --rag-responses $inputDataset --output $outputDir/leaderboard.trec'
